/*Text Style*/
.dropButtonMenu{
	font-size: 25px;
	color: #598946;
	font-weight: bold;
}


.dropDownButtonMat{
	background-color: #e0eedd;
	color: #598946;
	padding: 12;
	font-size: 20px;
	font-weight: bold;
	border: none;

}

.dropdown{
	display:inline-block;
	position: relative;
}

.dropdown-content{
	position: absolute;
	background-color: #dcedec;
	min-width: 200px;
	display: none;
	z-index: 1;

}

.dropdown-content-color{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display:block;
	
}

/*Main*/

.dropdown-content-color:hover {  
    background-color: black;  
}  
.dropdown:hover .dropdown-content {  
    display: block;  
}  
.dropdown:hover .dropDownButtonMat{  
    background-color: grey;  
}  

