	
/*.header {
	border: 1px outset #e0eedd;
	height:75px;
	padding: 5px;
	background-color: #e0eedd;
	text-align: left;
}
	
.headerTitle{
	font-size:25px;
	color: #598946;
	font-weight: bold;
	
}
*/

/*navigation bar*/

/*--*/

.sectionHeaderStyling{
	font-size:20px;
	color: #598946;
	font-weight: bolder;
	text-align: right;
}	

.Title{
	text-align: center;
	font-size: 75px;
	color: #598946;
	font-family: Times New Roman;
	font-weight: bold;
	padding-top: 60px;
}
	
.forTagline{
	line-height: 0.5;
	text-align: center;	
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}
	
.forOpeningText{
	margin-right: 200px;
	margin-left : 200px;
	font-size: 25px
}	

.forOptionsNearFooter{
	margin-left: 75px;
}

.forFooter{
	text-align: center;
	font-size: 25px;
	color:#598946;
}

#about_us{
	text-align: center;
}
	
.noHTMLLineTextDecoration{
	text-decoration: none
}

/*vice and precidential candidates webpage*/
.presidentials-img{
	position: relative;
	margin-top: 50px;
	text-align: center;
}

.presidentials-img ul{
	float: left;
	list-style: none;
}

.presidentials-img ul li{
	float: left;
    list-style: none;
    position: relative;
    padding: 0px 40px 0px 40px; 
}

.pres-row{
	float: right;
}

.vice_presidentials-img{
	position: relative;
	margin-top: 50px;
	text-align: center;
}

.vice_presidentials-img ul{
	float: left;
	list-style: none;
}

.vice_presidentials-img ul li{
	float: left;
    list-style: none;
    position: relative;
    padding: 0px 55px 0px 55px; 
}

.vpres-row{
	float: right;
}

/*candidate page*/

.candidate-name{
	font-size: 30px;
}

input{
	border: 0;
}


