html, body {
    margin: 0px;
}
.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

h2, #item1, #item2 {
    color: white;
}

h2 {
    text-align: center;
}

#item1 {
    position: fixed;
    background-color: #418559;
    width: 20%;
    height: 100vh;
}

#item1 > form {
    padding: 10px;
}

#item2 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: #171a18;
    float: right;
}

.textbox {
    resize: none;
    height: 100px;
    width: 325px;
    padding-left: 0px 0px 0px 0px;
}

.columns {
    height: fit-content;
    border-width: 10px; 
    border-style: solid;
    border-color: #171a18;

}
.cells {
    border-style: solid;
    border-width: 2px;
    border-color: wheat;
    padding: 10px;

}

