header {

}

body {
    background-color: antiquewhite;
}

footer {
	text-align: center;
	color: aliceblue;
    background-color: #598946;
	height: 100px;
}

footer a, footer a:hover {
	color: aliceblue;
}

#title {
    text-align: center;
	font-size: 75px;
	color: #598946;
	font-family: Times New Roman;
	font-weight: bold;
}

/* #cand_content {
    background-color: #c0e2b3; 
} */

.sep {
    background-color: #598946;
	margin: 1px;
}

