header {

}

body {
    background-color: antiquewhite;
}

/* Footer Section */

footer {
    background-color: #e0eedd;
	text-align: center;
	height: auto;
}

footer a, footer a:hover {
	color: #598946;
	text-decoration: none;
}

#comp_section {
	vertical-align: middle;
	font-size: 25px;
	font-weight: 500;
}

#title {
    text-align: center;
	font-size: calc(100% + 4vw);
	color: #598946;
	font-family: Times New Roman;
	font-weight: bold;
}

#sources_section {

}

.sources {
	text-decoration: underline;
}

/* ----------------------- */

/* #cand_content {
    background-color: #c0e2b3; 
} */

.sep {
    background-color: #598946;
	margin: 1px;
}

